<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        body {
            background-color: #1a202c;
            color: #cbd5e0;
        }

        .container {
            max-width: 600px;
            margin: auto;
            text-align: center;
            margin-top: 100px;
        }

        .button-container {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

        .auth-button {
            padding: 10px;
            width: 150px;
            text-align: center;
            text-decoration: none;
            color: #cbd5e0;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        .auth-button:hover {
            background-color: #2d3748;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1 class="text-3xl font-semibold mb-6">Bienvenido</h1>

        <div class="button-container">
            <!-- Enlace para Registrarse -->
            <a href="/auth/register" class="auth-button bg-blue-500">Registrarse</a>

            <!-- Enlace para Iniciar Sesión -->
            <a href="/auth/login" class="auth-button bg-green-500">Iniciar Sesión</a>
        </div>
    </div>

</body>
</html>
