<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-gray-800 text-white">

    <!-- Barra de Navegación -->
    <nav class="bg-gray-900 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <!-- Logo o Nombre del Sitio -->
            <a href="#" class="text-white text-lg font-semibold">Shop</a>

            <!-- Menú de Navegación -->
            <div class="space-x-4">
                <a href="/" class="text-white">Home</a>
                <a href="/products" class="text-white">Products</a>
                <a href="/profile" class="text-white">Profile</a>
                <a href="/auth/login" class="text-white">Login</a>
            </div>

        </div>
    </nav>

    <!-- Contenido de la Página -->
    <div class="container mx-auto mt-8 p-4">
        <h1 class="text-3xl font-semibold mb-4">Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestiae ipsam harum vero sequi nihil quae, deserunt eos iure corporis minus quam repellendus dolorem aliquam, quis deleniti et. Vitae, nemo!</p>
    </div>


</body>
</html>
