<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <style>
        body {
            background-color: #1a202c;
            color: #cbd5e0;
        }

        .form-container {
            background-color: #2d3748;
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
        }

        .form-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #4a5568;
            border-radius: 4px;
            background-color: #4a5568;
            color: #cbd5e0;
        }

        .form-button {
            width: 100%;
            padding: 10px;
            background-color: #2d3748;
            color: #cbd5e0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .form-button:hover {
            background-color: #4a5568;
        }
    </style>
</head>
<body>

    <div class="form-container">
        <div class="form-header">
            <h2 class="text-2xl font-semibold"><%= title %></h2>
        </div>

        <form action="/auth/login" method="post">
            <!-- Campo de Email -->
            <input type="email" name="email" placeholder="Email" class="form-input" required>

            <!-- Campo de Contraseña -->
            <input type="password" name="password" placeholder="Password" class="form-input" required>

            <!-- Botón de Iniciar Sesión -->
            <button type="submit" class="form-button"><%= title %></button>
        </form>
    </div>

</body>
</html>
